
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&family=Lato:wght@100&family=Libre+Baskerville:wght@700&family=Oswald&family=Roboto+Mono:wght@100&display=swap');

* {
list-style: none;
margin: 0;
    }
/* clases de la cabecera*/
.header {
    height: 40px;
    width: 100%;
    background-color: #dbc8c8;
    text-align: center;
    margin-bottom: 10px;
}   
.header a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    letter-spacing: 0.03em;
    font-family:'Arvo', serif;
} 

h1 {
    color: #000;
    background-color: #a8b395;
    margin:15px;
    padding: 10px;
    text-align: center;
    font-family:'Arvo', serif;
    letter-spacing: 0.03em;
    word-spacing: 0.03em;
} 

/* clases e id del cuerpo */

.sidebar {
    display: flex;
    flex-direction: column;
    float: left;
    width: 15%;
    height: 600px;
    background-color: #b2c5c5;
 
}
.sidebar h3 {
    margin-bottom: 5px;
    text-align: center;
    font-family:'Arvo', serif;
}
.sidebar img {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-left: 30px;
}
.sidebar h4 {
    color: #000;
     margin-left: 65px;
}
.sidebar a {
    text-decoration: none;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 80%;
    margin: 1cm;
}

.box {
    width: 200px;
    height: 200px;
    margin: 5px;
    text-align:center ;
}
.box h2 {
    font-size: 15px;
    color: #221e08;
}
.contenido img {
    width: 150px;
    height: 150px;
}
.footer {
    float: left;
    width: 100%;
    height: 80px;
    background-color: #808080;
    color: #000;
    font-size: medium;
    font-family:'Arvo', serif;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 1cm;
}
/* Estilos del carrousel*/
.carousel-item img {
    width: 400px;
    height: 350px;
}
.carousel-item h5, p {
    color:#ff0000;
}