
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Oswald&family=Roboto+Mono:wght@100&display=swap');

* {
list-style: none;
margin: 0;
padding: 0;
    }

    body {
        background-color: #bdb8b8;
        margin: 10px;
        font-family: 'Roboto', sans-serif;
    }

h1 {
    color:#0000ff;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 10px;
}
div a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #ff0000;
}

.menu {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-top: 10px;
    word-spacing: 0.03em;

}

.flex {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
}

#titulo {
    color: #000;
    background-color: #808080;
    text-align: center;
    letter-spacing: o.03em;
    word-spacing: 0.03em;
}

#judaismo {
margin-left: 10px;
margin-right: 10px;
width: 400px;
height: 300px;
}

#tuvia {
margin-left: 10px;
margin-right: 10px;
width: 400px;
height: 300px;
}

#yoel {
margin-left: 10px;
margin-right: 10px;
width: 400px;
height: 300px;
}

